<a href="https://colab.research.google.com/github/LPiresG/estrutura_de_dados/blob/main/estrutura_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Curso de Engenharia de Software - Diciplina Estrutura de Dados Nivelamento em Python** - 14/03/2024

**Aluno Lucas Pires Gonçalves** - ICEV

Mais informações:

# Introdução ao Python

In [ ]:
# Preimeira Função
num1 = 3
num2 = 15
mult = num1 * num2
print(mult)

# Variáveis

In [ ]:
# Criando Variáveis
x = 10
y = "Lucas"

# Mostrando Variáveis
print(x)
print(y)

In [ ]:
# Outra forma de mostrar o conteudo de variaveis
y

In [ ]:
# Somar variaveis e numeros
soma = num1 + num2
print(soma)

# Lendo valores do teclado

In [ ]:
# input
mens = input()
print(mens)

In [ ]:
# Soma de valores decimais
num3 = float(input('Digite um valor decimal '))
num4 = float(input('Digite outro valor decimal '))
soma = num3 + num4
print(soma)

Digite um valor decimal10.5
Digite um valor decimal12.3
22.8

# If,Else,Elif

In [ ]:
num5 = int(input('Digite um numero '))
rest = num5 % 2
if(rest == 0) :
  print("NUMERO PAR")
else :
  print('NUMERO IMPAR')

Digite um numero 37
NUMERO IMPAR

In [ ]:
idade = int(input('Digite sua idade: '))
if(idade < 12):
  print('Criança')
elif(idade < 18):
  print('Adolecente')
else:
  print('Adulto')

Digite sua idade: 11
Criança

# Exericio

**Elebora um pequeno trechode codigo que leia 4 notas e calcule a média e mostre na tela se o aluno obtiver media > 7 "Aprovado" e media < 7 em "Recuperação"**

In [ ]:
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))
nota4 = float(input('Digite a quarta nota: '))

media = (nota1 + nota2 + nota3 + nota4)/4

if(media < 7):
  print("Recuperação")
else:
  print("Aprovado")

Digite a primeira nota: 7
Digite a segunda nota: 7
Digite a terceira nota: 7
Digite a quarta nota: 7
Aprovado